@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: #3b82f6;
    --color-accent: #8b5cf6;
    --color-dark-bg: #020617;
    --color-dark-card: #0f172a;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-jetbrains: "JetBrains Mono", monospace;
}

body {
    background-color: var(--color-dark-bg);
    font-family: var(--font-sans);
    color: white;
}

html {
    scroll-behavior: smooth;
}